
/* tabs-simple */
.tabs-simple {
    margin-bottom: 110px;
    @include clearfix();
    &-menu {
        height: 42px;
    }
    &-menu-item {
    }
    &-menu-link {
        float: left;
        margin-right: 39px;
        margin-bottom: 35px;
        padding-bottom: 3px;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        color: var(--color2);
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.24px;
        white-space: nowrap;
        &:hover {
            border-color: var(--color2);
        }
    }
    &-menu-item_active {}
    &-menu-item_active &-menu-link {
        border-color: var(--color2);
    }
    &-menu-item_active &-item {
        display: block;
    }
    &-item {
        display: none;
        position: relative;
        top: 69px;
        float: right;
        width: 100%;
        height: auto;
        margin-left: -100%;
        h2 {
            margin-bottom: 14px;
            font-size: 22px;
        }
    }
    &-menu-icon {
        display: none;
        font-size: 16px;
        color: #1d1d1d;
    }

    @media screen
    and (min-width: $desktop){
        &-item {
            height: auto!important;
            margin-top: 0!important;
        }
    }
    @media screen
    and (max-width: $tablet){
        &-menu {
            height: auto;
            margin-bottom: 52px;
            border-bottom-width: 0;
        }
        &-menu-item {
            border: solid #eeeeee;
            border-width: 1px 0 0;
            &:last-child {
                border-bottom-width: 1px;
            }
        }
        &-menu-link {
            float: none;
            display: flex;
            width: 100%;
            min-height: 50px;
            margin-right: 0;
            margin-bottom: 0;
            padding-top: 14px;
            padding-bottom: 14px;
            border-bottom-width: 0;
            text-align: left;
            color: #1d1d1d;
            &:hover {
                color: #1d1d1d;
            }
        }
        &-item {
            float: none;
            margin-left: 0;
            top: 13px;
            margin-bottom: 48px;
        }
        &-menu-icon {
            display: block;
            margin-left: auto;
        }
        &-menu-item_active &-menu-icon {
            transform: scaleY(-1);
        }
    }
    @media screen
    and (max-width: $mobile){
        &-menu {
            margin-bottom: 47px;
        }
        &-item {
            top: 7px;
            margin-bottom: 40px;
            h2 {
                font-size: 20px;
            }
        }
    }
}
/* /tabs-simple */

.card {
    &-content {
        display: flex;
        margin-bottom: 60px;
    }
    &-container {
        flex-grow: 1;
    }
    &-gallery {
        min-width: 427px;
        width: 427px;
        padding-right: 30px;
    }
    &-gallery-main {
        position: relative;
        height: 475px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 25px;
    }
    &-gallery-main-item {
        width: 100%;
    }
    &-gallery-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;
    }
    &-gallery-thumbs-wrapper {
    }
    &-gallery-thumbs {
        position: relative;
        flex-flow: column nowrap;
        cursor: pointer;
    }
    &-gallery-thumbs-inner {
        overflow: hidden;
        margin-left: 53px;
        margin-right: 53px;
    }
    &-gallery-thumbs-list {
        z-index: auto;
    }
    &-thumbs-item {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 64px;
        width: 64px;
        height: 64px;
        border: 1px solid transparent;
        overflow: hidden;
        text-align: center;
    }
    &-thumbs-img {
        display: block;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    &-gallery-slider-decor {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        width: 52px;
    }
    &-gallery-slider-decor:last-child {
        right: 0;
        left: auto;
    }
    &-gallery-button {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--color6);
        &:hover {
            background-color: #fff;
            box-shadow: 0 3px 15px 0 rgba(187, 187, 187, 0.25);
        }
    }
    &-gallery-button_right {
        left: auto;
        right: 0;
    }
    &-gallery-icon {
        display: block;
        width: 21px;
        height: 12px;
    }
    &-gallery-button_right &-gallery-icon {
        margin-right: -1px;
    }
    &-gallery-button:hover &-gallery-icon {
        path {
            stroke: var(--color6);
        }
    }

    &-description-container {
        width: 56%;
        float: left;
        padding-right: 30px;
    }
    &-options-container {
        width: 59%;
        float: left;
        padding-right: 30px;
    }
    &-panel {
        display: flex;
        margin-bottom: 4px;
    }
    &-code {
        margin-right: auto;
        padding-right: 20px;
        color: var(--color2);
        font-size: 14px;
        font-weight: 300;
        line-height: 28px;
    }
    &-links {
        margin-left: auto;
    }
    &-marks {
        margin-bottom: 10px;
        .marks-label {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    &-name {
        margin-bottom: 11px;
        font-size: 24px;
        line-height: 36px;
    }
    &-actions {}
    &-actions-label {
        margin-bottom: 16px;
    }
    &-actions-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 6px;
    }
    &-actions-list-item {
        margin-right: 23px;
        margin-bottom: 23px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-actions-block {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 7px 20px 9px 15px;
        border: 1px solid var(--color6);
        border-radius: 50em;
        color: var(--color6);
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2em;
    }
    &-actions-icon {
        margin-right: 5px;
    }
    &-props-container {
        width: 56%;
        float: left;
        padding-right: 30px;
    }
    &-props-title {
        display: block;
        margin-bottom: 21px;
        text-transform: uppercase;
        color: var(--color1);
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.16px;
    }
    &-props-list {
        margin-bottom: 23px;
    }
    &-props-item {
        display: flex;
        margin-bottom: 21px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-props-name {
        width: 50%;
        display: flex;
        align-items: baseline;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        letter-spacing: 0.308px;
        color: var(--color1);
    }
    &-props-value {
        width: 50%;
        display: flex;
        align-items: baseline;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        letter-spacing: 0.308px;
        color: var(--color1);
        text-align: right;
    }
    &-props-decor {
        flex-grow: 1;
        height: 1px;
        background: #E9EDF5;
    }
    &-props-name &-props-decor {
        margin-left: 4px;
    }
    &-props-value &-props-decor {
        margin-right: 4px;
    }
    &-more-list {
    }
    &-more-list-item {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-more-list-link {
        display: flex;
        align-items: center;
        color: var(--color1);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-decoration: none;
        white-space: nowrap;
        &:hover {
            color: var(--color6);
            text-shadow: 0 0 .04em var(--color6);
        }
    }
    &-more-list-icon {
        margin-left: 7px;
    }
    &-more-list-link:hover &-more-list-icon {
        path {
            stroke: var(--color6);
        }
    }
    &-order {
        width: 41%;
        float: right;
    }
    &-order-block {
        margin-bottom: 36px;
        padding: 20px 30px 30px;
        border-radius: 20px;
        box-shadow: 0 0 20px 0 rgba(206, 206, 206, 0.40);
    }
    &-activity {}
    &-activity-item {
        margin-bottom: 17px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-activity-button {
        display: block;
    }
    &-activity-button_basket {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-activity-basket-icon {
        margin-top: -3px;
        margin-bottom: -1px;
        margin-right: 12px;
    }
    &-delivery {
        margin-left: 24px;
    }
    &-delivery-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 17px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-delivery-img {
        min-width: 26px;
        width: 26px;
        margin-right: 13px;
        text-align: center;
    }
    &-delivery-name {
        display: block;
        margin-bottom: 6px;
        color: var(--color1);
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
    }
    &-delivery-text {
        margin-bottom: 6px;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        color: var(--color6);
    }
    &-delivery-link {
        color: var(--color1);
        font-size: 13px;
        line-height: 18px;
        &:hover {
            text-decoration: none;
        }
    }


    @media screen
    and (max-width: $desktop){
    }
    @media screen
    and (max-width: $tablet){
    }
    @media screen
    and (max-width: $mobile){
    }
}
