
.main-banner {
    margin-bottom: 30px;
    &-block {
        position: relative;
    }
    &-inner {
        margin-bottom: 30px;
    }
    &-list {
        height: 462px;
    }
    &-item {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: var(--color6);
    }
    &-container {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &-detail {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 50.5%;
        padding: 66px 34px 78px;
    }
    &-img {
        width: 49.5%;
        margin-left: auto;
    }
    &-pic {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-preface {
        min-height: 22px;
        margin-bottom: 38px;
        font-size: 15px;
        line-height: 21px;
        color: #FFFFFF;
    }
    &-name {
        margin-bottom: 19px;
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        color: #FFFFFF;
    }
    &-info {
        max-width: 440px;
        margin-bottom: 19px;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        color: #FFFFFF;
    }
    &-actions {
        margin-top: auto;
    }
    &-button {
        padding-left: 29px;
        padding-right: 29px;
    }
    &-slider-nav {
    }
    &-item_even {
        background-color: var(--color7);
    }
    &-item_even &-button {
        color: var(--color7);
    }

    @media screen
    and (max-width: $desktop){
    }
    @media screen
    and (max-width: $tablet){
        margin-bottom: 24px;
        &-inner {
            margin-bottom: 25px;
        }
        &-list {
            height: 414px;
        }
        &-detail {
            width: 48%;
            padding: 49px 27px 63px;
        }
        &-img {
            width: 52%;
        }
        &-preface {
            margin-bottom: 21px;
            font-size: 14px;
            line-height: 19px;
        }
        &-name {
            margin-bottom: 7px;
            font-size: 26px;
            line-height: 40px;
        }
        &-info {
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 22px;
        }
        &-button {

        }
    }
    @media screen
    and (max-width: $mobile){
        &-list {
            height: auto;
        }
        &-item {
            flex-direction: column;
            height: auto;
        }
        &-detail {
            width: 100%;
            min-height: 331px;
            padding: 23px 25px 33px;
        }
        &-img {
            order: -1;
            width: 100%;
            height: 225px;
        }
        &-preface {
            margin-bottom: 13px;
        }
        &-name {
            margin-bottom: 11px;
            font-size: 24px;
            line-height: 30px;
        }
    }
}
